# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Arquivos do projeto
logs/
config.ini

# Arquivos de ambiente virtual
venv/
ENV/

# Arquivos temporários
*.tmp
*.bak
*.swp
*~

# Arquivos de IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Arquivos específicos do SO
.DS_Store
Thumbs.db